body {
  font-family: sans-serif;
  background-color: #e0167010;
  margin: 0;
  padding: 0;
}
header {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin: 20px auto;
  box-sizing: border-box;
  max-width: 1000px;
}
header h1 {
  display: inline-block;
}
header ul {
  gap: 20px;
}
header ul li {
  list-style: none;
}

.logo1 {
  color: #84318d;
}
.logo2 {
  color: #e01670;
}
#logo::after {
  content: "Desktop";
  color: #888;
}
a {
  color: #4a86e8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* AQUÍ EMPIEZA LA HAMBURGUESA */

#menuToggle {
  display: block;
  position: relative;
  left: 10px;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

article {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
th {
  background: #14d9c480;
  padding: 10px;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: #14d9c440;
}
.message {
  margin: 20px;
}
.balance {
  background: #14d9c420;
  padding: 10px;
  display: none;
}

.gominolas {
  display: none;
}

button {
  padding: 10px;
  margin: 20px;
  background: #4a86e880;
  border: none;
  border-radius: 10px;
}
footer {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  box-sizing: border-box;
  max-width: 1000px;
  margin: 50px auto;
}

.footer {
  display: flex;
}

/* Descomenta el bloque de abajo */
/*
@media print {
  button, a {
    display: none;
  }
}
*/

@media screen and (max-width: 480px) {
  body {
    background-color: #e01670c0;
  }
  #logo::after {
    content: "Mobile";
    color: #888;
  }
  #sidebar-menu {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  body {
    background-color: #e0167080;
  }
  #logo::after {
    content: "Mobile+";
    color: #888;
  }
  #sidebar-menu {
    display: none;
  }
}

@media screen and (min-width: 736px) {
  body {
    background: #e0167040;
  }
  #logo::after {
    content: "Tablet";
    color: #888;
  }
  #menuToggle {
    display: none;
  }

  #sidebar-menu {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background: #b0769040;
  }
  #logo::after {
    content: "Desktop";
    color: #888;
  }
  #menuToggle {
    display: none;
  }
  #sidebar-menu {
    display: flex;
  }
}
